canvas {
        border: 1px solid #000;
}

body {
	font-family: Nunito;
	font-size: 125%;
}

button, input{
	font-family: Nunito;
	font-size: 125%;
	padding: 1%;
	background-color: #ccc;
	color: #000;
	border-radius: 4px 5%;
}

input {
	padding: 0%;
	width: 8%;
}
